<a href="https://colab.research.google.com/github/longminh123/Nhapmonhocsau/blob/main/lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import pandas as pd
import seaborn as sns
colum_names = ["Id", "Name","Age","Weight","m0006","m0612","m1218","f0006","f0612","f1218"]
df = pd.read_csv("patient_heart_rate.csv", names = colum_names)
print(df.head())

    Id            Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0  1.0    Mickéy Mousé  56.0       70kgs    72    69    71     -     -     -
1  2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
2  3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
3  4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
4  5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75

In [2]:
df[['Firstname','Lastname']] = df['Name'].str.split(expand = True)
df = df.drop('Name',axis = 1)
print(df)

      Id   Age      Weight m0006 m0612  ... f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0       70kgs    72    69  ...     -     -     -    Mickéy    Mousé
1    2.0  34.0   154.89lbs     -     -  ...    85    84    76    Donald     Duck
2    3.0  16.0         NaN     -     -  ...    65    69    72      Mini    Mouse
3    4.0   NaN       78kgs    78    79  ...     -     -     -   Scrooge   McDuck
4    5.0  54.0  198.658lbs     -     -  ...    69   NaN    75      Pink  Panther
5    6.0  52.0      189lbs     -     -  ...    68    75    72      Huey   McDuck
6    7.0  19.0       56kgs     -     -  ...    71    78    75     Dewey   McDuck
7    8.0  32.0       78kgs    78    76  ...     -     -     -    Scööpy      Doo
8    NaN   NaN         NaN   NaN   NaN  ...   NaN   NaN   NaN       NaN      NaN
9    NaN   NaN         NaN   NaN   NaN  ...   NaN   NaN   NaN       NaN      NaN
10   9.0  52.0      189lbs     -     -  ...    68    75    72      Huey   McDuck
11  10.0  12.0       45kgs     -     -  ...    92    95    87     Louie   McDuck
12  11.0   NaN       60kgs    78    75  ...     -     -     -     Henry      Nam
13  12.0  34.0         NaN    65    67  ...     -     -     -    Michel     Long
14  13.0   NaN         NaN     -     -  ...    68    72    70      Tana    Ricky
15  14.0   NaN         NaN   NaN   NaN  ...   NaN   NaN   NaN  UniLever     None
16  15.0  52.0      180lbs     -     -  ...    68    75    72       NaN      NaN

[17 rows x 11 columns]

In [3]:
weight = df['Weight']

for i in range (0,len(weight)):
    x = str(weight[i])
    if "lbs" in x[-3:]:
        x = x[:-3:]
        float_x = float(x)
        y = int(float_x/2.2)
        y = str(y)+"kgs"
        weight[i] = y
print(df)

df.dropna(how = "all",inplace = True)
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
8    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
9    NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN      NaN
10   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
16  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN
      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
10   9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
16  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [4]:
df = df.drop_duplicates(subset = ['Firstname','Lastname','Age','Weight'])
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -    Mickéy    Mousé
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
16  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

In [5]:
df.Firstname.replace({r'[^\x00-\x7F]+':''},regex =True , inplace = True)
df.Lastname.replace({r'[^\x00-\x7F]+':''},regex =True , inplace = True)
print(df)

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
14  13.0   NaN    NaN     -     -     -    68    72    70      Tana    Ricky
15  14.0   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  UniLever     None
16  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

In [6]:
df.dropna(how="all", inplace=True)
df.head(5)

    Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0  1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1  2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2  3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3  4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4  5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther

In [7]:
index_ageweightnull = df[df['Age'].isna() & df['Weight'].isna()].index
index_ageweightnull

Int64Index([14, 15], dtype='int64')

In [8]:
df.drop(index_ageweightnull, inplace=True)
df.head(5)

    Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0  1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1  2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2  3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3  4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4  5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther

In [9]:
df['Age'].fillna(df['Age'].mean(), inplace =False)

0     56.0
1     34.0
2     16.0
3     36.1
4     54.0
5     52.0
6     19.0
7     32.0
11    12.0
12    36.1
13    34.0
16    52.0
Name: Age, dtype: float64

In [10]:
df

      Id   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 Firstname Lastname
0    1.0  56.0  70kgs    72    69    71     -     -     -     Micky     Mous
1    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
2    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
3    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
4    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
5    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
6    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
7    8.0  32.0  78kgs    78    76    75     -     -     -      Scpy      Doo
11  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
12  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
13  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long
16  15.0  52.0  81kgs     -     -     -    68    75    72       NaN      NaN

In [21]:
df = pd.melt(df, id_vars=['Id', 'Age', 'Weight', 'Firstname', 'Lastname'], value_name="PulseRate",var_name='sex_and_time').sort_values(['Id', 'Age', 'Weight', 'Firstname', 'Lastname'])

In [22]:
df

      Id   Age Weight Firstname Lastname sex_and_time PulseRate
0    1.0  56.0  70kgs     Micky     Mous        m0006        72
12   1.0  56.0  70kgs     Micky     Mous        m0612        69
24   1.0  56.0  70kgs     Micky     Mous        m1218        71
36   1.0  56.0  70kgs     Micky     Mous        f0006         -
48   1.0  56.0  70kgs     Micky     Mous        f0612         -
..   ...   ...    ...       ...      ...          ...       ...
23  15.0  52.0  81kgs       NaN      NaN        m0612         -
35  15.0  52.0  81kgs       NaN      NaN        m1218         -
47  15.0  52.0  81kgs       NaN      NaN        f0006        68
59  15.0  52.0  81kgs       NaN      NaN        f0612        75
71  15.0  52.0  81kgs       NaN      NaN        f1218        72

[72 rows x 7 columns]

In [28]:
tmp_df= df["sex_and_time"].str.extract("(\D)(\d+)(\d{2})", expand=True)

In [29]:
tmp_df.head(5)

    0   1   2
0   m  00  06
12  m  06  12
24  m  12  18
36  f  00  06
48  f  06  12

In [24]:
tmp_df.columns=["Sex","hours_lower","hours_upper"]

In [30]:
tmp_df.head(5)

    0   1   2
0   m  00  06
12  m  06  12
24  m  12  18
36  f  00  06
48  f  06  12

In [39]:
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [40]:
df.to_csv('patient_heart_rate_clean.csv')